@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #B7B7B7;
  --background: #101010;

  --transition-slow-fast: cubic-bezier(0.075, 0.82, 0.165, 1);
}

* {
  transition: background-color 0.1s ease;
  user-select: none;
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Kantumruy Pro", Helvetica, sans-serif;
  height: 100%;
}

@keyframes glowFade {
  0% {
    background-color: rgba(112, 139, 86, 0.15);
    opacity: 1;
  }
  100% {
    background-color: rgba(112, 139, 86, 0);
    opacity: 0;
  }
}

.animate-glow {
  animation: glowFade 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  pointer-events: none; /* Prevent interfering with clicks */
  position: absolute;
  inset: 0;
  z-index: 10; /* Ensure it overlays */
}

.os-scrollbar {
  background: var(--background); /* Scrollbar background */
}
.os-scrollbar-thumb {
  background: #708B56; /* Thumb color */
}
.os-scrollbar-thumb:hover {
  background: #4A5E5D; /* Thumb hover color */
}
