@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #B7B7B7;
  --background: #101010;
}

* {
  transition: background-color 0.1s ease;
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Kantumruy Pro", Helvetica, sans-serif;
  height: 100%;
}
